@model CultureITS.Areas.Admin.Models.UserViewModel

@{
    ViewBag.Title = "Удаление записи о пользователе";
    ViewBag.BreadCrumbs = new CultureITS.Helpers.BreadCrumbsBuilder()
        .Add(new CultureITS.Helpers.BreadCrumb() { Text = "Управление", Uri = @Url.Action("Index", "Home", new { area = "Admin" }) })
        .Add(new CultureITS.Helpers.BreadCrumb() { Text = "Пользователи", Uri = @Url.Action("Index", "User", new { area = "Admin" }) })
        .Generate(ViewBag.Title);
}

<h2>@ViewBag.Title</h2>

<h3>Вы действительно хотите удалить этого пользователя?</h3>
<fieldset>
    <legend>Информация о пользователе</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Item.Login)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Item.Login)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Item.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Item.Name)
    </div>
</fieldset>

@using (Html.BeginForm()) {
    <p>
        <button class="button">Удалить</button>
        @Html.ActionLink("Вернуться", "Index", null, new { @class = "button" })
    </p>
}
