@model CultureITS.Areas.Admin.Models.UserViewModel

@{
    ViewBag.Title = "Удаление записи о пользователе";
}

<h2>@ViewBag.Title</h2>

<h3>Вы действительно хотите удалить этого пользователя?</h3>
<fieldset>
    <legend>Информация о пользователе</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Item.Login)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Item.Login)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Item.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Item.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <button class="button">Удалить</button>
        @Html.ActionLink("Вернуться", "Index", null, new { @class = "button" })
    </p>
}
