@model CultureITS.Models.User

@{
    ViewBag.Title = "Информация о пользователе";
    ViewBag.BreadCrumbs = new CultureITS.Helpers.BreadCrumbsBuilder()
        .Add(new CultureITS.Helpers.BreadCrumb() { Text = "Управление", Uri = @Url.Action("Index", "Home", new { area = "Admin" }) })
        .Add(new CultureITS.Helpers.BreadCrumb() { Text = "Пользователи", Uri = @Url.Action("Index", "User", new { area = "Admin" }) })
        .Generate(ViewBag.Title);
}

<div class="column2">
    <h3 class="headline">Информация о пользователе</h3>

    @Helpers.WriteUserInfoTable(Model)
</div>
<div class="column2">
    <h3 class="headline">Изображение профиля</h3>

    @if (!string.IsNullOrEmpty(Model.PhotoMime))
    {
        <img src="@Url.Action("GetImage", "Account", new { id = Model.Id, area = "" })" alt="" />
    }
    else
    {
        <p>Отсутствует.</p>   
    }
</div>

<hr />
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }, new { @class = "button" })
    @Html.ActionLink("Вернуться", "Index", null, new { @class = "button" })
</p>
