@model CultureITS.Models.User

@{
    ViewBag.Title = "Информация о пользователе";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Login)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Login)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserRole)
    </div>
    <div class="display-field">
        @Model.UserRole.ToDescription()
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }, new { @class = "button" })
    @Html.ActionLink("Вернуться", "Index", null, new { @class = "button" })
</p>
