@model CultureITS.Areas.Admin.Models.UserViewModel

@{
    ViewBag.Title = "Создание записи о пользователе";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(i => i.Item.Id)

    <fieldset>
        <legend>User</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Item.Login)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Item.Login)
            @Html.ValidationMessageFor(model => model.Item.Login)
        </div>

        @if (Model.Item.Id == 0)
        {
            <div class="editor-label">
                @Html.LabelFor(model => model.Item.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.Item.Password)
                @Html.ValidationMessageFor(model => model.Item.Password)
            </div>
        }

        <div class="editor-label">
            @Html.LabelFor(model => model.Item.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Item.Name)
            @Html.ValidationMessageFor(model => model.Item.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Item.UserRole)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.Item.UserRole)
            @Html.ValidationMessageFor(model => model.Item.UserRole)
        </div>

        <button class="button button-green">Отправить</button>
    </fieldset>
}

<div>
    @Html.ActionLink("Вернуться", "Index", null, new { @class = "button" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
