@{
    ViewBag.Title = "Unity Testing Page";
}

<h2>@ViewBag.Title</h2>
<div id="unityPlayer">
    <div class="missing">
        <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
            <img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
        </a>
    </div>
    <div class="broken">
        <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now! Restart your browser after install.">
            <img alt="Unity Web Player. Install now! Restart your browser after install." src="http://webplayer.unity3d.com/installation/getunityrestart.png" width="193" height="63" />
        </a>
    </div>
</div>

<a href="#" id="markGameObject1" class="button">markGameObject1</a>
<a href="#" id="checkGameObject1" class="button">checkGameObject1</a>
<a href="#" id="getGameObjectInfo1" class="button">getGameObjectInfo1</a>

<a class="fancybox" href="#FancyTest">Popup test</a>

@section popup_windows {
    <div class="popup_window" id="FancyTest">
        ?????
    </div>
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/UnityObject2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/UnityAPI.js")"></script>

    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        //fake functions
        $('#markGameObject1').click(function () { markGameObject(1); });
        $('#checkGameObject1').click(function () { checkGameObject(1); });
        $('#getGameObjectInfo1').click(function () { getGameObjectInfo(1, false); });
    </script>

    <script type="text/javascript">
        var config = {
            width: 1170,
            height: 700,
            params: { enableDebugging: "0" }

        };
        var u = new UnityObject2(config);

        jQuery(function () {
            var $missingScreen = jQuery("#unityPlayer").find(".missing");
            var $brokenScreen = jQuery("#unityPlayer").find(".broken");
            $missingScreen.hide();
            $brokenScreen.hide();

            u.observeProgress(function (progress) {
                switch (progress.pluginStatus) {
                    case "broken":
                        $brokenScreen.find("a").click(function (e) {
                            e.stopPropagation();
                            e.preventDefault();
                            u.installPlugin();
                            return false;
                        });
                        $brokenScreen.show();
                        break;
                    case "missing":
                        $missingScreen.find("a").click(function (e) {
                            e.stopPropagation();
                            e.preventDefault();
                            u.installPlugin();
                            return false;
                        });
                        $missingScreen.show();
                        break;
                    case "installed":
                        $missingScreen.remove();
                        break;
                    case "first":
                        break;
                }
            });
            u.initPlugin(jQuery("#unityPlayer")[0], '@Url.Content("~/Content/Unity.bin")');
        });
    </script>
}
