<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div id="headerWrap">
            <div class="loginform">
                @Helpers.LoginForm()
            </div>
            <nav>
                <ul>
                    <li class="brand">@Html.ActionLink("CultureITS", "Index", "Home", new { area = "" }, null)</li>
                    @Helpers.TopMenu()
                </ul>
            </nav>
        </div>
    </header>

    <article>
        @RenderBody()
    </article>

    <footer>
        &copy;2014 — CoolFaggots Inc.
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
