<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title — Chriseum</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.png")" type="image/png" />
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.ico")" />
    <link rel="icon" href="@Url.Content("~/Content/images/favicon.png")" />
    <link href="@Url.Content("~/Content/images/favicon.png")" rel="apple-touch-icon" />
</head>
<body>
    <div class="popup">
        @RenderSection("popup_windows", required: false)
    </div>
    <div class="head">
        <div class="cont">
            <div class="logo">
                <a href="@Url.Action("Index", "Home", new { area = "" })"><b>Chri</b>seum</a>
            </div>
            <ul class="head_menu">
                @Helpers.TopMenu()
                @Helpers.LoginForm()
            </ul>
        </div>
    </div>
    <div class="line2">
        <div class="cont">
            <h1 class="title">
                @ViewBag.Title
            </h1>
            <div class="breadcrumbs">
                @Html.Raw(ViewBag.BreadCrumbs)
            </div>
            <div class="line2_angle">&nbsp;</div>
        </div>
    </div>
    <div class="cont">
        @RenderBody()
    </div>
    <div class="footer">
        <div class="cont">
            <div class="contact">
                <span class="logo"><b>Chri</b>seum</span>
                <p class="descript_foot">
                    &copy&nbsp;2014 — CoolF∀ggots Inc. Все авторские и смежные права защищены законодательством Российской Федерации, а также международными договорами в области авторского права, принятыми Российской Федерацией.
                </p>
            </div>
            <div class="razdel_b">
                <p class="foot_title">Разделы сайта</p>
                <ul class="razdel">
                    @Helpers.TopMenu()
                </ul>
            </div>
            <div class="razdel_b">
                <p class="foot_title">Авторы</p>
                <ul class="razdel">
                    <li>Загайчук Иван <span class="mini">(ФИСТ, ИСТбд-31)</span></li>
                    <li>Желепов Алексей <span class="mini">(ФИСТ, ИСТбд-31)</span></li>
                    <li>Моисеев Владислав <span class="mini">(ФИСТ, ИСТбд-31)</span></li>
                    <li>Прохоров Евгений <span class="mini">(ФИСТ, ИСТбд-31)</span></li>
                </ul>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
