@model CultureITS.ViewModels.AccountViewModel

@{
    ViewBag.Title = "Профиль пользователя";
}

<p>Добро пожаловать на страницу Вашего профиля. Здесь можно посмотреть основную информацию об учётной записи, статистику по использованию системы, а также есть возможнсть сменить некоторые данные.</p>
<fieldset class="user-info">
    <legend>Информация о пользователе</legend>

    @Helpers.WriteUserInfoTable(Model.Item)
</fieldset>

@if (Model.ItemStudent != null)
{
    <h3>Вы отметили для себя</h3>
    if (Model.ItemStudent.GameObjects.Count == 0)
    {
    <p>Здесь будут показываться предметы музея, которые вы отметили для себя. Отмечайте экспонаты музея, чтобы прочитать про них подробную информацию!</p>
    }
    else
    {
    <table class="little-table">
        <tr>
            <th>Название</th>
            <th>Местоположение</th>
            <th>&nbsp;</th>
        </tr>
        @foreach (var item in Model.ItemStudent.GameObjects)
        {
            <tr>
                <td><a href="#description_@item.Id" class="fancybox">@item.Name</a></td>
                <td>@item.Location</td>
                <td>
                    <a href="#" class="button">Подробная информация</a>
                </td>
            </tr>
        }
    </table>
    }

    <h3>Тестирование</h3>
    <p>Здесь будут показаны результаты тестирования. Его можно пройти в каждой комнате музея у специального стенда. Также Вы можете посмотреть детальную статистику прохождения тестирования.</p>
}

@section popup_windows {
    @if (Model.ItemStudent != null)
    {
        foreach (var item in Model.ItemStudent.GameObjects)
        {
        <div id="description_@item.Id" class="popup_window">
            <div class="popup_head">
                @item.Name
                <div class="popup_close">Х</div>
            </div>
            <div class="popup_cont">
                @Html.Raw(item.Description)
            </div>
        </div>
        }
    }
    <div class="popup_window" id="PhotoUpload">
        <div class="popup_head">
            Изображение профиля
            <div class="popup_close">Х</div>
        </div>
        <div class="popup_cont">
            <p>В этом окне вы можете изменить или добавить изображение собственного профиля. Сделать это можно ниже.</p>
            @using (Html.BeginForm("ChangeImage", "Account", System.Web.Mvc.FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" id="Photo" name="Photo" />
                <div>
                    <button>Загрузить</button>
                </div>
            }
        </div>
    </div>
}