@model CultureITS.Models.LoginModel

@{
    ViewBag.Title = "Вход в систему";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Учётные данные</legend>

        <div class="login-description">
            <p>Введите ваши учётные данные в поля, расположенные на данной странице.</p>
            <p>Если Вы по каким-либо причинам не можете выполнить вход, проверьте следующие условия:</p>
            <ol>
                <li>Вы набираете пароль в правильной раскладке;</li>
                <li>Клавиша <span class="button">Caps Lock</span> находится в выключенном состоянии.</li>
            </ol>
            <p>Если несмотря на это Вы не можете авторизоваться, обратитесь к администратору системы.</p>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <p>
            <button class="button">Выполнить вход</button>
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
