@model CultureITS.ViewModels.AccountViewModel

@{
    ViewBag.Title = "Профиль пользователя";
    ViewBag.BreadCrumbs = new CultureITS.Helpers.BreadCrumbsBuilder().Generate(ViewBag.Title);
}

<div class="cont big_img big_img_profile">
    <div class="bi_text">
        <span class="bi_title">Профиль</span>
    </div>
    <div class="bi_text2">
        Данная информационная система направлена на получение информации о христианстве, изучении ее основ и прочей лабуды. Будет очень много поелезного и интересного, особенно в 3D. так что не упустите шанс и поиграйте в наши квесты.
    </div>
</div>

<div class="column2">
    <h3 class="headline">Информация о пользователе</h3>
    @Helpers.WriteUserInfoTable(Model.Item)
</div>
<div class="column2">
    <h3 class="headline">Изображение профиля</h3>
    @if (Model.Item.PhotoMime != null)
    {
        <img src="@Url.Action("GetImage", "Account", new { id = Model.Item.Id })" alt="" />
        <div>
            <a href="@Url.Action("RemoveImage", "Account")">Удалить изображение</a> |
        <a href="#PhotoUpload" class="fancybox">Изменить изображение</a>
        </div>
    }
    else
    {
        <a href="#PhotoUpload" class="fancybox">Добавить изображение</a>
    }
</div>
<hr />

@if (Model.ItemStudent != null)
{
    <div class="column2">
        <h3 class="headline">Рекомендуется к прочтению</h3>
        @if (Model.ItemStudent.Exhibits.Count == 0)
        {
            <p>Здесь будут показываться предметы музея, которые вы отметили для себя, а также материалы, которые тем или иным образом связаны с ними. Отмечайте экспонаты музея, чтобы прочитать про них подробную информацию!</p>
        }
        else
        {
            <table class="little-table">
                <tr>
                    <th>&nbsp;</th>
                    <th>Иллюстрация</th>
                    <th>Заголовок</th>
                </tr>
                @foreach (var item in Model.ItemStudent.Exhibits)
                {
                    <tr>
                        <th colspan="3">@item.Name (@item.Location)</th>
                    </tr>
                    foreach (var subitem in item.Article)
                    {
                    <tr>
                        <td>
                            <a title="Прочитать" href="@Url.Action("Article", "Exhibit", new { id = subitem.Id })" class="button button-small"><i class="fa fa-ellipsis-h"></i></a>
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(subitem.ApplicationType))
                            {
                                <div class="applicationWrapper">
                                    <img src="@Url.Action("GetArticleImage", "Exhibit", new { area = "", id = subitem.Id }, null)" alt="" title="@subitem.Title" />
                                </div>
                            }
                        </td>
                        <td>@subitem.Title</td>
                    </tr>
                    }
                }
            </table>
        }
    </div>
    
    <div class="column2">
        <h3 class="headline">Тестирование</h3>
        @if (Model.ItemStudent.TestSessions.Count == 0)
        {
            <p>Здесь будут показаны результаты тестирования. Его можно пройти в каждой комнате музея у специального стенда. Также Вы можете посмотреть детальную статистику прохождения тестирования.</p>
        }
        else
        {
            <div id="graphdiv"></div>
        }
    </div>
}

@section Scripts {
    <script type="text/javascript">
        g = new Dygraph(
            document.getElementById("graphdiv"),
            '@Html.Raw(Model.TestData)',
            {
                legend: 'always',
                ylabel: 'Процент',
                xlabel: 'Номер попытки',
                valueRange: [0, 110]
            }
        );
    </script>
}

@section popup_windows {
    <div class="popup_window" id="PhotoUpload">
        <div class="popup_head">
            Изображение профиля
            <div class="popup_close">Х</div>
        </div>
        <div class="popup_cont">
            <p>В этом окне вы можете изменить или добавить изображение собственного профиля. Сделать это можно ниже.</p>
            @using (Html.BeginForm("ChangeImage", "Account", System.Web.Mvc.FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" id="Photo" name="Photo" />
                <div>
                    <button>Загрузить</button>
                </div>
            }
        </div>
    </div>
}