@model CultureITS.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Главная страница";
}

<div class="cont big_img">
    <div class="bi_text">
        <span class="bi_title">Chriseum. Христианство в 3D</span>
    </div>
    <div class="bi_text2">
        Данная информационная обучающая система поможет вам быстро и без особых усилий получить качественные знания о Христианстве.
        Игровая форма подачи информации поможет сделать процесс изучения христианства более увлекательным и интересным.
    </div>
    @if (Model.ShowGameButton)
    {
        <a href="@Url.Action("Index", "Unity")" class="bi_btn">Перейти в музей</a>
    }
    else if (Model.ShowPromo)
    {
        <a href="@Url.Action("Register", "Account")" class="bi_btn">Регистрация</a>
    }
</div>

<div class="cont">
    <h2>Автологин</h2>
    @Html.ActionLink("Как студент", "AutoLogOn", "Account", new { login = "student" }, new { @class = "button" })
    @Html.ActionLink("Как преподаватель", "AutoLogOn", "Account", new { login = "teacher" }, new { @class = "button" })
    @Html.ActionLink("Как администратор", "AutoLogOn", "Account", new { login = "admin" }, new { @class = "button" })
</div>

<div class="advant cont">
        <div class="advant_item">
            <div class="item_icon advant1">&nbsp;</div>
            <p class="advant_title">
                Интерактивность
            </p>
            <p class="advant_text">
                Наша система делает упор на представление информации в виде некоторой 3D-игры, где можно рассмотреть все в деталях.
            </p>
            <a href="#popup1" class="advant_more_btn fancybox">Подробнее</a>
        </div>
        <div class="advant_item">
            <div class="item_icon advant2">&nbsp;</div>
            <p class="advant_title">
                Информативность
            </p>
            <p class="advant_text">
                Несмотря на игровой формат представления информации, вы всегда сможете найти то, что искади. Интересное найдется для каждого!
            </p>
            <a href="#popup2" class="advant_more_btn fancybox">Подробнее</a>
        </div>
        <div class="advant_item">
            <div class="item_icon advant3">&nbsp;</div>
            <p class="advant_title">
                Универсальность
            </p>
            <p class="advant_text">
                Данная система будет интересна студентам из-за своей <b>интерактивности</b> и полезной преподавателям из-за <b>практичности</b>.
            </p>
            <a href="" class="advant_more_btn">Подробнее</a>
        </div>
        <div class="advant_item">
            <div class="item_icon advant4">&nbsp;</div>
            <p class="advant_title">
                Оригинальность
            </p>
            <p class="advant_text">
                Аналогов данной системы не существует, так как это направление в программировании еще только развивается.
            </p>
            <a href="" class="advant_more_btn">Подробнее</a>
        </div>
    </div>
@*<div class="cont">

    @if (Model.ShowStylePageLink)
    {
        <h2>Администраторские штучки</h2>
        @Html.ActionLink("Страница стилей", "Styles", null, new { @class = "button" })
    }

    <h2>Автологин</h2>
    <ul>
        <li>@Html.ActionLink("Как студент", "AutoLogOn", "Account", new { login = "student" }, new { @class = "external" })</li>
        <li>@Html.ActionLink("Как преподаватель", "AutoLogOn", "Account", new { login = "teacher" }, new { @class = "external" })</li>
        <li>@Html.ActionLink("Как администратор", "AutoLogOn", "Account", new { login = "admin" }, new { @class = "external" })</li>
    </ul>


    <div class="column1">
        <h3 class="headline">Headline</h3>
        <p>
            Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика
                Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика
                Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика
                Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика
           
        </p>
    </div>
    <hr />
    <div class="column2">
        <h3 class="headline">Headline</h3>
        <p>
            Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика
                Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика
                Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика
                Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика
           
        </p>
    </div>
    <div class="column2">
        <h3 class="headline">Headline</h3>
        <p>
            Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика
                Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика Вкусный текст для красавчика
              
        </p>
    </div>
</div>
<hr />
<div class="cont">
    <table class="little-table">
        <tr>
            <th>Lorem ipsum dolor.</th>
            <th>Itaque, laborum temporibus!</th>
            <th>Modi, quam sequi.</th>
            <th>Animi, laborum, quia!</th>
            <th>Facilis numquam, sint!</th>
            <th>Accusamus, expedita, veritatis?</th>
        </tr>
        <tr>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Cumque dolorem laboriosam rem veniam?</td>
            <td>Cumque obcaecati similique voluptas voluptate!</td>
            <td>Delectus esse exercitationem sit unde!</td>
            <td>Doloremque ipsum maxime natus quam?</td>
            <td>Cum dignissimos iste nostrum obcaecati?</td>
        </tr>
        <tr>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Aut blanditiis laboriosam magnam sint!</td>
            <td>Consectetur mollitia omnis tempora voluptates!</td>
            <td>Ducimus error eveniet necessitatibus numquam.</td>
            <td>Aliquid distinctio explicabo temporibus voluptatibus!</td>
            <td>Illo necessitatibus velit voluptates voluptatibus.</td>
        </tr>
        <tr>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Accusamus inventore nam officiis ullam.</td>
            <td>Dignissimos natus neque sunt ullam.</td>
            <td>Delectus ipsum quam repellat totam.</td>
            <td>Distinctio facilis officia sunt ullam.</td>
            <td>Aperiam assumenda excepturi neque vel?</td>
        </tr>
        <tr>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Blanditiis cumque cupiditate delectus voluptate.</td>
            <td>Aliquam dolore eaque illo rerum.</td>
            <td>Cupiditate dolorum esse ex perferendis.</td>
            <td>Atque dolor nihil quisquam tempore.</td>
            <td>Corporis natus obcaecati sit tempora.</td>
        </tr>
        <tr>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Alias dolorum est mollitia totam.</td>
            <td>Autem deleniti expedita necessitatibus numquam!</td>
            <td>Asperiores expedita natus nihil placeat?</td>
            <td>Accusantium debitis labore quidem veniam!</td>
            <td>Aspernatur esse labore veniam vitae?</td>
        </tr>
    </table>
</div>
<div class="cont">
    <div class="column2">
        <ul>
            <li>Вкусный вкусный текст</li>
            <li>Вкусный вкусный текст</li>
            <li>Вкусный вкусный текст</li>
            <li>Вкусный вкусный текст</li>
            <li>Вкусный вкусный текст</li>
        </ul>
    </div>
    <div class="column2">
        <ol>
            <li>Lorem ipsum dolor sit.</li>
            <li>Blanditiis dolorum iste tempora.</li>
            <li>Earum minus officia quaerat!</li>
            <li>Blanditiis eius eveniet excepturi.</li>
            <li>Aliquid cumque odit totam?</li>
            <li>Dolore natus quas ut?</li>
        </ol>
    </div>
</div>
*@
