@model CultureITS.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Главная страница";
}

<div class="cont big_img">
    <div class="bi_text">
        <span class="bi_title">Chriseum. Христианство в 3D</span>
    </div>
    <div class="bi_text2">
        Данная информационная обучающая система поможет вам быстро и без особых усилий получить качественные знания о Христианстве.
        Игровая форма подачи информации поможет сделать процесс изучения христианства более увлекательным и интересным.
    </div>
    @if (Model.ShowGameButton)
    {
        <a href="@Url.Action("Index", "Unity")" class="bi_btn">Перейти в музей</a>
    }
    else if (Model.ShowPromo)
    {
        <a href="@Url.Action("Register", "Account")" class="bi_btn">Регистрация</a>
    }
</div>

<div class="cont">
    <h3>Автологин</h3>
    @Html.ActionLink("Как студент", "AutoLogOn", "Account", new { login = "student" }, new { @class = "button" })
    @Html.ActionLink("Как преподаватель", "AutoLogOn", "Account", new { login = "teacher" }, new { @class = "button" })
    @Html.ActionLink("Как администратор", "AutoLogOn", "Account", new { login = "admin" }, new { @class = "button" })
</div>

<div class="advant cont">
    <div class="advant_item">
        <div class="item_icon advant1">&nbsp;</div>
        <p class="advant_title">
            Интерактивность
        </p>
        <p class="advant_text">
            Наша система делает упор на представление информации в виде некоторой 3D-игры, где можно рассмотреть все в деталях.
        </p>
    </div>
    <div class="advant_item">
        <div class="item_icon advant2">&nbsp;</div>
        <p class="advant_title">
            Информативность
        </p>
        <p class="advant_text">
            Несмотря на игровой формат представления информации, вы всегда сможете найти то, что искади. Интересное найдется для каждого!
        </p>
    </div>
    <div class="advant_item">
        <div class="item_icon advant3">&nbsp;</div>
        <p class="advant_title">
            Универсальность
        </p>
        <p class="advant_text">
            Данная система будет интересна студентам из-за своей <b>интерактивности</b> и полезной преподавателям из-за <b>практичности</b>.
        </p>
    </div>
    <div class="advant_item">
        <div class="item_icon advant4">&nbsp;</div>
        <p class="advant_title">
            Оригинальность
        </p>
        <p class="advant_text">
            Аналогов данной системы не существует, так как это направление в программировании еще только развивается.
        </p>
    </div>
</div>

<div class="cont">
    <p>Данный информационный продукт посвящен христианству и отражает основные моменты его развития, такие как католицизм, православие, протестантизм. Авторы проекта считают, что данный продукт является весьма   актуальным. Это связано с гибкостью и удобством системы во внедрении её в учебный процесс и последующим использовании. Благодаря простому и понятному интерфейсу человек с любым уровнем предварительной подготовки сможет получить новые и углубить уж имеющиеся знания по вопросам развития христианства.</p>
    <p>Программный продукт представляет собой двухкомпонентный кластер. Первый компонент - web-сайт, обладающий широким спектром возможностей. Второй компонент - программный игровой модуль, определяющий музейную часть с экспонатами. Ниже подробно представлен порядок действий пользования разработанной системой.</p>
    <p>Первое, что Вы увидите, войдя в систему, будет web-сайт. На сайте существует три вида пользователей - студенты, которые имеют право заходить в виртуальный музей, смотреть экспонаты и проходить тестирования на различные темы. Преподаватели могут просматривать результаты прохождения тестов, а также дополнять и изменять материалы и информацию об экспонатах музея. Администратор может управлять основными процессами функционирования системы, а также имеет доступ к документации взаимодействия музея и сайта. Дизайн сайта выполнен в современном стиле при использовании самых новейших информационных технологий.</p>
    <p>Если Вы авторизовались как студент, то у Вас появляется возможность посетить виртуальный музей, ознакомиться с экспонатами и осуществить контроль приобретенных знаний. Для этого в ленточном меню сверху на сайте  Вам необходимо выбрать пункт "В музей". Возможно, ваш браузер попросит Вас установить дополнительный компонент под названием "Unity web-player", на что необходимо согласиться, в противном случае доступ к музею не будет открыт. При открытии музея и в случае, если вы зашли туда впервые, отобразится пошаговая инструкция по использованию игрового компонента. По окончании ознакомления с ней (а мы Вам настоятельно рекомендуем это сделать), можете приступать к виртуальному путешествию. В музее представлены модели храмов, относящиеся к указанным направлениям. В каждом здании представлена обстановка, соответствующая внутреннему убранству храма, а также выставочная часть. В ней можно ознакомиться с экспонатами направления, а также получить необходимую информацию о них.</p>
    <p>Разработчики обучающей информационной системы считают, что данный продукт имеет большую теоретическую ценность из-за огромного количества предоставленной информации и красочного оформления. </p>

    <h4>Данный обучающий мультимедиа-продукт является программой высокой степени сложности, т.к. при его создании использовалось большое количество современных компьютерных технологий и программ таких как: </h4>
    <ul style="margin-left: 60px">
        <li>трёхмерный графический игровой движок Unity 3D;</li>
        <li>среды разработки MonoDevelop, Visual Studio 12;</li>
        <li>технологии ASP.NET  MVC 4, Entity Framework 5;</li>
        <li>языки программирования  C# и JavaScript;</li>
        <li>язык гипертекстовой разметки стандарта HTML5;</li>
        <li>трехмерный графический редактор Autodesc 3ds Max;</li>
        <li>графические редакторы Adobe Photoshop CS6 и Gimp;</li>
        <li>редактирование встроенных в информационную систему звуковых файлов осуществлялось при помощи пакета Audacity 2.05.</li>
    </ul>

    <h4>К особенностям разработки можно отнести следующее:</h4>
    <ul style="margin-left: 60px">
        <li>кроссплатформенность итогового приложения;</li>
        <li>сложность проекта - 300 человек-часов;</li>
        <li>2535 строк исходного кода приложения;</li>
        <li>при разработке серверной части было внесено 63 правки. При разработке музея было создано более 15 версий.</li>
    </ul>
    <p>Следует заметить, что разработка виртуальных музеев является молодым направлением, и разработчики продукта приложили огромное число усилий, чтобы создать неповторимый продукт,  тем самым заинтересовав и дав толчок пользователю к изучению направлений христианства с культурологической и искусствоведческой точки зрения.</p>
</div>
