@model CultureITS.Areas.Admin.Models.GameObjectViewModel

@{
    ViewBag.Title = "Удаление записи об игровом объекте";
}

<h2>@ViewBag.Title</h2>

<h3>Вы действительно хотите удалить запись об этом игровом объекте?</h3>
<fieldset>
    <legend>Информация о пользователе</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Item.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Item.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Item.Name)
    </div>
    <div class="display-field">
        @Html.Raw(Model.Item.Description)
    </div>
</fieldset>

@using (Html.BeginForm()) {
    <p>
        <button class="button">Удалить</button>
        @Html.ActionLink("Вернуться", "Index", null, new { @class = "button" })
    </p>
}
