@using System.Web
@using System.Web.Mvc.Html
@using CultureITS.Helpers
@using CultureITS.Models

@helper LoginForm()
{
    var Html = ((System.Web.Mvc.WebViewPage)WebPageContext.Current.Page).Html;
    var Url = ((System.Web.Mvc.WebViewPage)WebPageContext.Current.Page).Url;

    if (HttpContext.Current.Session.IsAuthorized())
    {
    <a href="@Url.Action("Logout", "Account", new { Area = "" })" class="button"><i class='fa fa-code'></i>&nbsp;Выход</a>
    }
    else
    {
    <a href="@Url.Action("Login", "Account", new { Area = "" })" class="button"><i class='fa fa-user'></i>&nbsp;Вход</a>
    <a href="@Url.Action("Register", "Account", new { Area = "" })" class="button"><i class='fa fa-users'></i>&nbsp;Регистрация</a>
    }
}

@helper TopMenu()
{
    var Html = ((System.Web.Mvc.WebViewPage)WebPageContext.Current.Page).Html;

    <li class="brand">@Html.ActionLink(System.Configuration.ConfigurationManager.AppSettings["ApplicationTitle"], "Index", "Home", new { area = "" }, null)</li>
    foreach (var i in HttpContext.Current.Session.GetMenu())
    {
    <li>@Html.ActionLink(i.Title, i.Action, i.Controller, new { Area = i.Area ?? "" }, null)</li>   
    }
}

@helper WriteUserInfoTable(User user)
{
    var Html = ((System.Web.Mvc.WebViewPage)WebPageContext.Current.Page).Html;
    var Url = ((System.Web.Mvc.WebViewPage)WebPageContext.Current.Page).Url;

    if (user.PhotoMime != null)
    {
    <img src="@Url.Action("GetImage", "Account", new { id = user.Id })" alt="" />
    <div>
        <a href="@Url.Action("RemoveImage", "Account")">Удалить изображение</a> |
        <a href="#PhotoUpload" class="fancybox">Изменить изображение</a>
    </div>
    }
    else
    {
    <a href="#PhotoUpload" class="fancybox">Добавить изображение</a>   
    }
    <table>
        <tr>
            <th>Имя</th>
            <td>@user.Name</td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td>@user.Login</td>
        </tr>
        @if (user is Student)
        {
            <tr>
                <th>Курс</th>
                <td>@((user as Student).Course)</td>
            </tr>   
            <tr>
                <th>Возраст</th>
                <td>@((user as Student).Age)</td>
            </tr>   
            <tr>
                <th>Группа</th>
                <td>@((user as Student).Group ?? "не указана")</td>
            </tr>   
        }
        @if (user is Teacher)
        {
            <tr>
                <th>Учебное заведение</th>
                <td>@((user as Teacher).University)</td>
            </tr>   
            <tr>
                <th>Структурное подразделение</th>
                <td>@((user as Teacher).Department)</td>
            </tr> 
        }
        @if (user is Administrator)
        {
            <tr>
                <th>Публичный e-mail</th>
                <td>@((user as Administrator).Email)</td>
            </tr>   
            <tr>
                <th>Телефон</th>
                <td>@((user as Administrator).Telephone)</td>
            </tr> 
        }
    </table>
    <div class="none" id="PhotoUpload">
        <h2>Изображение профиля</h2>
        <p>В этом окне вы можете изменить или добавить изображение собственного профиля. Сделать это можно ниже.</p>
        @using (Html.BeginForm("ChangeImage", "Account", System.Web.Mvc.FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" id="Photo" name="Photo" />
            <div>
                <button>Загрузить</button>
            </div>
        }
    </div>
}