@model CultureITS.Areas.Admin.Models.ExhibitViewModel

@{
    ViewBag.Title = "Материалы";
    ViewBag.BreadCrumbs = new CultureITS.Helpers.BreadCrumbsBuilder()
        .Add(new CultureITS.Helpers.BreadCrumb() { Text = "Администрирование", Uri = @Url.Action("Index", "Home", new { area = "Admin" }) })
        .Add(new CultureITS.Helpers.BreadCrumb() { Text = "Экспонаты", Uri = @Url.Action("Index", "Exhibit", new { area = "Admin" }) })
        .Generate(ViewBag.Title);
}

<p>
    <a href="@Url.Action("EditArticle", new { exhibitId = Model.Item.Id })" class="button"><i class="fa fa-plus"></i>&nbsp;Добавить</a>
</p>
@if (Model.Item.Article.Count == 0)
{
    <p>Нет данных.</p>
}
else
{
    <table class="little-table">
        <tr>
            <th>&nbsp;</th>
            <th>
                @Html.DisplayNameFor(i => i.Article.Title)
            </th>
        </tr>

        @foreach (var item in Model.Item.Article)
        {
            <tr>
                <td>
                    <a href="@Url.Action("EditArticle", new { exhibitId = Model.Item.Id, id = item.Id })" class="button button-small"><i class="fa fa-pencil-square-o"></i></a>
                    <a href="@Url.Action("DeleteArticle", new { id = item.Id })" class="button button-small"><i class="fa fa-trash-o"></i></a>
                </td>
                <td>@item.Title</td>
            </tr>
        }
    </table>
}

<p>
    @Html.ActionLink("Вернуться", "Index", null, new { @class = "button" })
</p>
