@model CultureITS.Areas.Admin.Models.ExhibitViewModel

@{
    ViewBag.Title = "Экспонаты";
    ViewBag.BreadCrumbs = new CultureITS.Helpers.BreadCrumbsBuilder()
        .Add(new CultureITS.Helpers.BreadCrumb() { Text = "Администрирование", Uri = @Url.Action("Index", "Home", new { area = "Admin" }) })
        .Generate(ViewBag.Title);
}

<p>
    <a href="@Url.Action("Edit")" class="button"><i class="fa fa-plus"></i>Добавить</a>
</p>
@if (Model.List == null || Model.List.Count() == 0)
{
    <p>Нет данных.</p>
}
else
{
    <table class="little-table">
        <tr>
            <th>&nbsp;</th>
            <th>Название</th>
            <th>Местоположение</th>
            <th>Может быть отмечен</th>
        </tr>
        @foreach (var item in Model.List)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.Id })" class="button button-small"><i class="fa fa-pencil-square-o"></i></a>&nbsp;|
                    <a href="@Url.Action("Delete", new { id = item.Id })" class="button button-small"><i class="fa fa-trash-o"></i></a>
                </td>
                <td><a href="#description_@item.Id" class="fancybox">@item.Name</a></td>
                <td>@item.Location</td>
                <td class="cnt top">@(item.CanNotified ? "+" : "-")</td>
            </tr>
        }
    </table>  
}

@section popup_windows {
    @foreach (var item in Model.List)
    {
        <div id="description_@item.Id" class="popup_window">
            <h2>@item.Name</h2>
            @Html.Raw(item.Description)
        </div>
    }
}