@model CultureITS.Areas.Admin.Models.ExhibitViewModel

@{
    ViewBag.Title = "Экспонаты";
    ViewBag.BreadCrumbs = new CultureITS.Helpers.BreadCrumbsBuilder()
        .Add(new CultureITS.Helpers.BreadCrumb() { Text = "Управление", Uri = @Url.Action("Index", "Home", new { area = "Admin" }) })
        .Generate(ViewBag.Title);
}

@if (Model.CanManage)
{
    <p>
        <a href="@Url.Action("Edit")" class="button"><i class="fa fa-plus"></i>&nbsp;Добавить</a>
    </p>
}
@if (Model.List == null || Model.List.Count() == 0)
{
    <p>Нет данных.</p>
}
else
{
    <table class="little-table">
        <tr>
            <th>&nbsp;</th>
            <th>@Html.DisplayNameFor(i => i.Item.Name)</th>
            <th>@Html.DisplayNameFor(i => i.Item.Code)</th>
            <th>@Html.DisplayNameFor(i => i.Item.Location)</th>
            <th>@Html.DisplayNameFor(i => i.Photo)</th>
        </tr>
        @foreach (var item in Model.List)
        {
            <tr>
                <td>
                    <a title="Изменить" href="@Url.Action("Edit", new { id = item.Id })" class="button button-small"><i class="fa fa-pencil-square-o"></i></a>
                    @if (Model.CanManage)
                    {
                        <a title="Удалить" href="@Url.Action("Delete", new { id = item.Id })" class="button button-small"><i class="fa fa-trash-o"></i></a>
                    }
                    <a title="Иллюстрация" href="javascript:void(0)" class="button button-small" onclick="changeImage(@item.Id, @((string.IsNullOrEmpty(item.ApplicationType) ? "false" : "true")), '@Url.Action("GetImage", "Exhibit", new { id = item.Id, area = "" })', '@Url.Action("RemoveImage", new { id = item.Id })')"><i class="fa fa-camera"></i></a>
                    <a title="Материалы" href="@Url.Action("Articles", new { id = item.Id })" class="button button-small"><i class="fa fa-list"></i></a>
                </td>
                <td><a href="#description_@item.Id" class="fancybox">@item.Name</a></td>
                <td>@item.Code</td>
                <td>@item.Location</td>
                <td>
                    @if (!string.IsNullOrEmpty(item.ApplicationType))
                    {
                        <div class="applicationWrapper">
                            <img src="@Url.Action("GetImage", "Exhibit", new { area = "", id = item.Id }, null)" alt="" title="@item.Name" />
                        </div>
                    }
                </td>
            </tr>
        }
    </table>
        if (Model.CanManage)
        {
    <p>
        <a href="@Url.Action("Edit")" class="button"><i class="fa fa-plus"></i>&nbsp;Добавить</a>
    </p>
        }
}

@section popup_windows {
    @foreach (var item in Model.List)
    {
        <div class="popup_window" id="description_@item.Id">
            <div class="popup_head">
                <span>@item.Name (@item.Location)</span>
                <div class="popup_close">Х</div>
            </div>
            <div class="popup_cont">
                @if (!string.IsNullOrEmpty(item.ApplicationType))
                {
                    <img src="@Url.Action("GetImage", "Exhibit", new { area = "", id = item.Id }, null)" alt="" class="ExhibitApplication" />
                }
                <div>
                    @Html.Raw(item.Description)
                </div>
            </div>
        </div>
    }
    <div class="popup_window" id="ApplicationUpload">
        <div class="popup_head">
            Иллюстрация
            <div class="popup_close">Х</div>
        </div>
        <div class="popup_cont">
            <div id="ApplicationUploadShow">
                <img src="#" alt="" id="ApplicationUploadImage" style="text-align: center" />
                <p>Вы также можете <a href="#" id="ApplicationUploadRemoveLink">удалить иллюстрацию</a>.</p>
                <hr />
            </div>
            <h3>Изменение иллюстрации</h3>
            @using (Html.BeginForm("ChangeImage", "Exhibit", System.Web.Mvc.FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="hidden" name="id" id="ApplicationUploadId" value="-1" />
                <input type="file" id="Photo" name="Photo" />
                <div>
                    <button>Загрузить</button>
                </div>
            }
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        changeImage = function (id, haveApplication, applicatioinLink, removeLink) {
            if (haveApplication) $('#ApplicationUploadShow').show();
            else $('#ApplicationUploadShow').hide();
            $('#ApplicationUploadId').val(id);
            $('#ApplicationUploadRemoveLink').attr('href', removeLink);
            $('#ApplicationUploadImage').attr('src', applicatioinLink);
            openPopup("#ApplicationUpload");
        }
    </script>
}