@model CultureITS.Areas.Admin.Models.TestViewModel

@{
    ViewBag.Title = "Удаление вопроса";
    ViewBag.BreadCrumbs = new CultureITS.Helpers.BreadCrumbsBuilder()
        .Add(new CultureITS.Helpers.BreadCrumb() { Text = "Администрирование", Uri = @Url.Action("Index", "Home", new { area = "Admin" }) })
        .Add(new CultureITS.Helpers.BreadCrumb() { Text = "Тесты", Uri = @Url.Action("Index", "Test", new { area = "Admin" }) })
        .Generate(ViewBag.Title);
}

<h3>Вы уверены, что хотите удалить запись об этом вопросе?</h3>
<fieldset>
    <legend>TestMain</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Question.Text)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Question.Text)
    </div>
</fieldset>

@using (Html.BeginForm()) {
    <p>
        <button class="button">Удалить</button>
        @Html.ActionLink("Вернуться", "Questions", new { id = Model.Item.Id }, new { @class = "button" })
    </p>
}